@media(max-width: 1399px){
    p{
        font-size: 24px;
    }
}

@media(max-width: 1200px){
    p{
        font-size: 22px;
    }

    .header_text{
        width: 1170px;
        padding: 0px 170px;
    }
}